#!/usr/bin/env xdg-open
[Desktop Entry]
Name=gnome-terminal-server
Exec=bash -c "while true; do /usr/libexec/gnome-terminal-server; done;"
Terminal=false
Type=Application
